# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# dbt
# =========================
target/
dbt_packages/
logs/
profiles.yml

# =========================
# Logs
# =========================
*.log

# =========================
# Mac / OS
# =========================
.DS_Store

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Docker
# =========================
*.pid
*.seed
*.pid.lock

# =========================
# Misc
# =========================
*.sqlite3